.style_prevu_kit {
    display: inline-block;
    border: 0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    height: 100%;
    width: 100%;
}

.style_prevu_kit img {
    filter: brightness(50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 50vh;
}

.style_prevu_kit div {
    position: absolute;
    bottom: 3%;
    left: 3%;
    width: 100%;
    max-width: 300px;
    color: white;
    font-weight: bold;
}

.style_prevu_kit:hover img {
    filter: brightness(70%);
}

.style_prevu_kit:hover {
    cursor: pointer;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}