.container-anime {
    height: 100vh;
    background-color: #46474e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divide {
    height: 120px;
}

.title .letter {
    display: inline-block;
    line-height: 1em;
}

.cube-svg {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    position: relative;
}

.cls-1 {
    fill: #111;
}

.cls-2 {
    fill: #496186;
}

.cls-3 {
    fill: #92FE9D;
}

.cls-4 {
    fill: #151F2E;
}

.cls-5 {
    fill: rgb(241, 136, 121);
}

.cls-6 {
    opacity: 0;
    fill: #9ea5ad;
}

.cls-7 {
    opacity: 0;
    fill: #fff;
}

.cls-8 {
    opacity: 0;
    fill: #55bc72;
}

#Line-left {
    opacity: 1;
    fill: rgb(241, 136, 121);
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 18px;
        letter-spacing: 0.4em;
    }
    .cube-svg {
        width: 300px;
    }
    .back-text {
        font-size: 70px;
        top: 100px;
        left: 10px;
        position: relative;
    }
}